build/
*.log
imgui.ini
screenshot.bmp
screenshot.png
screenshot_debris.bmp
screenshot_debris.png
*.svx
*.svd/
screenshot_far.bmp
screenshot_far.png
screenshot_far_verify.png
evidence_dither_*.png
screenshot_ground.bmp
screenshot_far.png
screenshot_ground.png
# ad-hoc look-pass captures (material/lighting spot checks)
screenshot_*.bmp
screenshot_*.png
